/****************************/
/** Forms **/
/****************************/
.control-label{
    color: $black;
    text-transform: capitalize;
}

.input-group-addon {
    background: transparent none repeat scroll 0 0;
    border-color: $light-grey;
    border-radius: 0;
    color: $black;
    min-width: 42px;
}
.form-control {
    border: 1px solid rgba(33, 33, 33, 0.12);
    border-radius: 0;
    background-color: $white;
    box-shadow: none;
    color: $black;
    height: 42px;
    &:focus {
         border-color:rgba(33, 33, 33, 0.3);
         box-shadow: none;
         outline: 0 none;
    }
}

.daterangepicker {
    .input-mini {
        border-color: $light-grey;
        border-radius: 0;
        color: $black;
        &.active {
             border-color: $light-grey;
             border-radius: 0;
             color: $black;
        }
        &:focus {
             border-color: $grey;
             box-shadow: none!important;
             outline: 0 none;
        }
    }
    td {
        border-radius: 0!important;
    }
}
.daterangepicker td.active, .daterangepicker td.active:hover,
.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
    background: $green;
}
