/****************************/
/** Global **/
/****************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, .error-comment, h4, h5, h6, .panel-title, p, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    color: $grey;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 1.5;
    /*background: $white;*/
    overflow-x: hidden;
}

.body-bg-full {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%
}

.force-UTF-8 {
    content: "¡";
}

::-webkit-file-upload-button {
    cursor: pointer;
}

.clearfix {
    overflow: hidden;
    clear: both;
    float: none;
}

.preloader {
    background: $white;
    position: fixed;
    z-index: 10001;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.toggle-top-nav-for-mobile {
    display: none !important;
}

/* Modals */
.modal-dialog{
    .modal-header{
        background: rgba(38, 166, 91, 1);
        .modal-title{
            color: $white;
        }
        .close{
            color: $white;
            opacity: 1;
            font-size: 26px;
        }
    }
    .modal-content{
        border-radius:2px;
        border:none;
    }
    .modal-footer{
        border: none;
    }
}
