/****************************/
/** Typography **/
/****************************/
a:hover, a:active {
    outline: 0;
}

button:focus {
    border: none;
    outline: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $black;
}

a:hover {
    text-decoration: none;
    color: $black;
}

a:focus {
    text-decoration: none;
    outline: none;
    color: $black;
}

h1, h2, h3, .error-subtitle, h4, h5, h6, .panel-title {
    color: $black;
}

h1 {
    font-size: 48px;
    line-height: 60px;
}

h2 {
    font-size: 36px;
    line-height: 44px;
}

h3, .error-subtitle {
    font-size: 30px;
    line-height: 40px;
}

h4 {
    font-size: 24px;
    line-height: 30px;
    text-transform: capitalize;
}

h5 {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    text-transform: capitalize;
}

h6, .panel-title {
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
}

.error-heading{
    font-size:112px;
    line-height:112px;
}

b{
    font-weight: 700;
}

strong {
    font-weight: bold;
}

p {
    font-size: 14px;
    line-height: 25px;
}

p.lead {
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 0;
    font-weight: 400;
}

p.text-muted {
    font-size: 14px;
}

.right {
    text-align: right !important;
}

.left {
    text-align: left !important;
}

.bg-green,
.bg-success {
    background: $green !important;
}

.bg-seagreen {
    background: #007153 !important;
}

.bg-grey {
    background: $grey !important;
}

.bg-yellow,
.bg-warning {
    background: #f8b32d !important;
}

.bg-red,
.bg-danger {
    background: #f33923 !important;
}

.bg-blue,
.bg-primary {
    background: #0098a3 !important;
}

.bg-pink,
.bg-info {
    background: #e7368d !important;
}

.bg-purple {
    background: #ac235c !important;
}

.bg-orange {
    background: #ff6300 !important;
}

.bg-gold {
    background: #e58b25 !important;
}

.bg-beige {
    background: #f7ce99 !important;
}

.bg-light {
    background: $white !important;
}

.bg-dark {
    background: $black !important;
}

.bg-twitter {
    background: #00aced !important;
}

.width-128{
    width: 128px;
}

.txt-dark {
    color: $black !important;
}

.txt-white {
    color: $white !important;
}

.txt-grey {
    color: $grey !important;
}

.txt-light-grey {
    color: #dedede !important;
}

.text-kwiqpick {
    color: $kwiqpick !important;
}

.txt-info,
.text-info {
    color: #e7368d !important;
}

.txt-warning,
.text-warning {
    color: #f8b32d !important;
}

.txt-primary,
.text-primary {
    color: #0098a3 !important;
}

.txt-green,
.text-green {
    color: $green !important;
}

.txt-danger,
.text-danger {
    color: #f33923 !important;
}

.txt-purple {
    color: #ac235c !important;
}

.txt-beige {
    color: #f7ce99 !important;
}

.txt-gold {
    color: #e58b25 !important;
}

.txt-orange {
    color: #ff6300 !important;
}

.badge{
    padding: 3px 10px;
}

.badge-success{
    background: $green;
    color: $white !important;
}

.badge-danger{
    background: #f33923;
    color: $white !important;
}

.font-10 {
    font-size: 10px !important;
}

.font-11 {
    font-size: 11px !important;
}

.font-12 {
    font-size: 12px !important;
}

.font-13 {
    font-size: 13px !important;
}

.font-15 {
    font-size: 15px !important;
}

.font-16 {
    font-size: 16px !important;
}

.font-18 {
    font-size: 18px !important;
}

.font-20 {
    font-size: 20px !important;
}

.font-21 {
    font-size: 21px !important;
}

.font-22 {
    font-size: 22px !important;
}

.font-24 {
    font-size: 24px !important;
}

.weight-500 {
    font-weight: 500 !important;
}

.weight-600 {
    font-weight: 600 !important;
}

.pointer{
    cursor: pointer;
}

.head-font {
    font-family: "Roboto", sans-serif !important;
}

.main-font {
    font-family: "Merriweather", sans-serif !important;
}

.capitalize-font {
    text-transform: capitalize !important;
}

.uppercase-font {
    text-transform: uppercase !important;
}

.nonecase-font {
    text-transform: none !important;
}

.inline {
    display: inline !important;
}

.inline-block {
    display: inline-block !important;
}

.block {
    display: block !important;
}

.table-display {
    display: table !important;
}

.table-cell {
    display: table-cell !important;
}

.valign {
    vertical-align: middle !important;
}

.full-width {
    width: 100% !important;
}

.half-width {
    width: 50% !important;
}

.auto-width {
    width: auto !important;
}

.relative {
    position: relative !important;
}

.border-none {
    border: none !important;
}

small {
    color: $grey;
    padding-left: 5px;
}

.text-muted {
    color: $grey;
}

.truncate {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.no-float {
    float: none !important;
}

.overflow-hide {
    overflow: hidden !important;
}

dt {
    font-weight: 600;
}

code {
    background: transparent;
}

hr {
    margin-top: 10px;
    margin-bottom: 35px;
    border-top: 1px solid #4aa23c;
}

hr.light-grey-hr {
    border-top: 1px solid #dedede;
}

.separator-block {
    margin-bottom: 80px;
}

.main-heading{
    height: 67px;
    margin: 0 -20px 10px;
    padding: 13px 0;
    h5 {
        padding-top:6px;
    }
}

.select-20{
    width: 20%;
}

.select-25{
    width: 25%;
}

.select-40{
    width: 40%;
}

.select-30p{
    width: 30px;
}

.select-144{
    @media (max-width: 1400px) {
        width: 144px;
    }
    @media (max-width: 764px) {
        width: 100%;
    }
    @media (max-width: 992px) {
        width: 100%;
    }
    @media (max-width: 565px) {
        width: 100%;
    }
}

.width-128{
    @media (max-width: 1400px) {
        width: 128px;
    }
    @media (max-width: 992px) {
        width: 100%;
    }
}

.checkbox,.radio {
    padding-top:5px;
    padding-bottom:5px;
    min-height:27px;
    margin-top:0;
    margin-bottom:0;
}

.checkbox input[type="checkbox"]:focus + label::before, .checkbox input[type="radio"]:focus + label::before,
.radio input[type="radio"]:focus + label::before {
    outline:none;
}

.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
    background-color: rgba(38, 166, 91, 1);
    border-color: rgba(38, 166, 91, 1);
}

.datepicker table tr td.active:active,
.datepicker table tr td.active.highlighted:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted.active {
    background-color: green;
}

.bootstrap-datetimepicker-widget table td.day {
    border-radius: 0;
}
