.btn{
    background-color: none;
    border-color: rgba(0, 0, 0, 0.1);
    box-shadow: none;
    color: $white;
    text-shadow: none;
    font-weight: bold;

    &:hover, &:focus{
        color: $white;
    }

    &--vv{
        border-radius: 3px;
        letter-spacing: 0;
        text-transform: uppercase;
        display: inline-block;
    }

    &--medium {
        font-size:14px;
        padding:12px 20px;
        line-height:14px
    }

    &--large {
        font-size:16px;
        padding:15px 25px;
        line-height:16px
    }

    &--ghost{
        border: 3px solid $white;
        background: transparent;
        letter-spacing: 2px;
        display: inline-block;
        text-transform: uppercase;
        border-radius: 0;
    }

    &--round{
        border-radius: 60px;
    }

    &--kwiqpick-red{
        background-color: $kwiqpick;
    }

    &--capitalize{
        text-transform: capitalize;
    }
}
