/****************************/
/** Forms **/
/****************************/
.form-control{
    border: 1px solid rgba(33, 33, 33, 0.12);
    border-radius: 0;
    background-color: $white;
    box-shadow: none;
    color: $black;
    height: 42px;

    &:focus{
         border-color: rgba(33, 33, 33, 0.6);
         box-shadow: none;
         outline: 0 none;
    }

    &::-webkit-input-placeholder{
        text-transform: capitalize;
    }
}

.control-label{
    color: $black;
    text-transform: capitalize;
}
