/****************************/
/** Login **/
/****************************/
.login{
    position: relative;
    text-align: center;

    &__box{
         position: relative;
         width: 460px;
         max-width: 100%;
         height: 458px;
         vertical-align: middle;
         display: inline-block;
         margin: 80px auto 50px;

        .box{
            position: absolute;
            text-align: left;
            background-color: $white;
            border-radius: 10px;
            padding: 60px 0 40px 0;
            width: 100%;
            height: 100%;
            box-shadow: 0 2px 11px -2px rgba(0, 0, 0, 0.5);
            transition: all 0.2s cubic-bezier(.35,.33,.75,.9);

            h2{
                border-left: 6px solid $kwiqpick;
                color: $kwiqpick;
                padding: 0 40px;
                font-size: 32px;
                font-weight: 300;
                line-height: 45px;
                height: 45px;
                text-transform: uppercase;
                margin-bottom: 50px;
                position: relative;
            }

            form{
                position: relative;
                display: block;
                padding: 0 50px;
            }
        }

        &.login__wrap{
            .box-shadow {
                opacity: 0.7;
                transform-origin: center top;
                transform: translate(0px, -9px) scale(0.97);
            }
        }
    }

    &__form-group{
         position: relative;
         margin-bottom: 45px;
         height: 52px;

        &.shake {
             animation: shake 0.4s linear;
        }

        label{
            position: absolute;
            color: $black;
            font-size: 18px;
            font-weight: 300;
            left: 0;
            top: 10px;
            opacity: 1;
            transition: all 0.3s cubic-bezier(1,-0.33,0,1.15);
            transform: translate(0px, 0px) scale(1);
            transform-origin: left top;
        }

        input{
            outline: none;
            background-color: transparent;
            border: none;
            color: $black;
            font-size: 20px;
            font-weight: 300;
            width: 100%;
            height: 100%;
            position: relative;
        }

        u{
            background-color: $black;
            width: 100%;
            height: 1px;
            position: absolute;
            left: 0;
            bottom: 0;

            &:before {
                 content: '';
                 display: block;
                 height: 100%;
                 width: 0;
                 background-color: $kwiqpick;
                 transition: all 0.35s cubic-bezier(.35,.33,.84,.85);
            }
        }

        &.focus {
            label {
                opacity: 0.8;
                transform: translate(0px, -30px) scale(0.8);
            }
            u {
                &:before {
                     width: 100%;
                }
            }
        }
    }
}

@keyframes shake {
    from, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

/**********************************/
/** Change Backgrounds in Login **/
/*********************************/
.setting,
.setting .setting-toggle {
    border-color: transparent;
    background-color: rgba(255, 255, 255, .1);
}

.setting {
    position: absolute;
    top: 130px;
    right: -1px;
    width: 260px;
    z-index: 1020;
    padding: 20px;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    -o-transition: -o-transform .3s;
    transition: -webkit-transform .3s, -moz-transform .3s, -o-transform .3s, transform .3s;
    -webkit-backface-visibility: hidden!important;
    -moz-backface-visibility: hidden!important;
    -ms-backface-visibility: hidden!important;
    backface-visibility: hidden!important
}

.setting.closed {
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    transform: translate(100%, 0)
}

.setting .setting-toggle {
    display: inline-block;
    position: absolute;
    top: 0;
    left: -46px;
    border-right: none;
    padding: 10px 15px
}
